<title>Printable Deck List</title>
<LINK rel="STYLESHEET" type="text/css" href="/includes/bb_style.css">



<div class=default_9>
<b>
{{TEST CC}} 2<br>
tom_pie_eater<br></b>
<br><br>
<div class=default_9>
<b>Main Deck:</b><br>
<font face=arial size=2>	
3 Luster Dragon<BR>2 Mad Dog of Darkness<BR>2 Magician of Faith<BR>2 Mobius the Frost Monarch<BR>1 Sangan<BR>1 Spirit Reaper<BR>3 Summoner of Illusions<BR>1 Treeborn Frog<BR>1 Tsukuyomi<BR>2 Zaborg the Thunder Monarch<BR>
<br>
1 Card Destruction<BR>1 Graceful Charity<BR>1 Heavy Storm<BR>1 Metamorphosis<BR>1 Mystical Space Typhoon<BR>1 Premature Burial<BR>3 Smashing Ground<BR>1 Snatch Steal<BR>3 Soul Exchange<BR>3 Stray Lambs<BR>1 Swords of Revealing Light<BR>
<br>
1 Call of the Haunted<BR>2 Good Goblin Housekeeping<BR>2 Royal Decree<BR>
</font>

<br><b>Sideboard:</b><br>
<font face=arial size=2>	
&nbsp;
<br><b>Extra Deck:</b><br>
3 Blue-Eyes Ultimate Dragon<BR>3 Dark Balter the Terrible<BR>3 Dark Flare Knight<BR>3 Gatling Dragon<BR>3 Master of OZ<BR>3 Ojama King<BR>3 Reaper on the Nightmare<BR>3 Ryu Senshi<BR>&nbsp;
	</font>

</div>



